.mainScreen2{
        background-image: url(../../../assets/img/blanco.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
}

.container{
    text-align: justify;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0.5em  1.5em;
}

h4{
    font-family: 'Courier New', Courier, monospace;
}
h6{
    font-family: 'Courier New', Courier, monospace;
   
}
p{
    color: rgb(90, 90, 90);
}