<div class="bgScreen">
    <div class="divSelect"  style="padding-top: 11em;">
        <img src="../../../assets/img/por.png" alt=""  style="height: 200px; width: 200px;" >
    </div>
    <div class="divSelect pt-3">
        <h1 class="text-white" >⠠⠙⠊⠀⠁⠇⠊⠛⠁⠀⠑⠙⠺⠊</h1>
    </div>
    <div class="divSelect pt-3">
        <span class="text-white" style="font-style: italic; font-size: 0.8em;" >Quién te conoce, pero anhela volverte a conocer</span>
    </div>

    <div class="divSelect pt-5">
        <button class="btn btn-md btn-danger px-5"  (click)="readBook()" >
            Leer
        </button>
    </div>



</div>